name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit pytest pytest-cov pyright

      - name: Run pre-commit hooks
        run: pre-commit run --all-files

      #NOTE: For the moment there is no tests, then this part is skipped
      - name: Run tests with coverage (optional)
        run: pytest --cov=your_package || echo "No tests yet, skipping coverage check"
      #NOTES: For the moment there is no types, to prevent CI failures
      - name: Check types
        run: poetry run pyright || echo "No typing yet, comming soon"
      - name: Check types (optional)
        run: poetry run pyright || echo "No typing yet, comming soon"
